<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <main>
        <div>
            <h1>{{ project_details.name }}</h1>
            <p>{{ project_details.description }}</p>
            <h2>Tasks</h2>
            {% if not project_details %}
            <p>This project has no tasks</p>
            {% endif %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project_details in Project}
                    <tr>
                        <td>{{ project_details.name }}</td>
                        <td></td>
                        <td>{{ project_details.start_date }}</td>
                        <td>{{ project_details.due_date }}</td>
                        <td>{{ tasks.is_completed|yesno:"yes,no" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
