<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Projects</h1>
                {% if not Project %}
                <p>You are not assigned to any projects</p>
                {% endif %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for projects in Project %}
                        <tr>
                            <td>{{ projects.name }}</td>
                            <td>{{ project.tasks.all|length }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </table>
            </div>
        </main>
    </body>
</html>
